body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    min-height: 100vh;
    background-color: #fbfbfb;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  } 

p, li { 
    margin: 0; 
    padding: 0; 
    color: gray; 

}

.container { 
    display: flex; 
    flex-direction: column;
    height: 100vh;
    width: 600px; 

  }

img { 
    border-radius: 20px;
}

.header { 
    display: flex; 
    flex-direction: row;
    width:600px;
    height: 200px;
    margin-top: 50px;
}

.headshot {
    margin-top: 25px;
}
.personal {
    margin-left: 25px;
}

h4 { 
    margin-bottom: 0;
}
